<mat-card>
  <mat-form-field>
    <input matInput [matDatepicker]="startpicker" (dateInput)="setStartDate('input',$event)">
    <mat-datepicker-toggle matSuffix [for]="startpicker"
           placeholder="Start Date YYYY-MM-dd"></mat-datepicker-toggle>
    <mat-datepicker #startpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="endpicker" (dateInput)="setEndDate('input',$event)">
    <mat-datepicker-toggle matSuffix [for]="endpicker"
           placeholder="Start Date YYYY-MM-dd"></mat-datepicker-toggle>
    <mat-datepicker #endpicker></mat-datepicker>
<!--  <button mat-raised-button (click)="getAccessToken($event)">Get New Token</button>-->
<!--  <button mat-raised-button (click)="retrieveAccessToken()">Get Cached Token</button>-->
   </mat-form-field>
</mat-card>
<mat-card>
  <button  mat-raised-button (click)="getOrders()">Get Orders</button>
</mat-card>
